 <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="MadLibs Generator!">
    <meta name="author" content="Henry He, Fondson Tran, Frank Dong">
    <link rel="icon" href="../../favicon.ico">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
        <!--<title>Handle POST requests with Flask</title>-->
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <title>MadLibs!</title>
    </head>
    <body>
    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation"><a href="file:///Users/FrankMAC/Desktop/Flask/templates/index.html">Home</a></li>
          </ul>
        </nav>
        <h3 class="text-muted"><a href="/Users/FrankMAC/Desktop/Flask/templates/index.html">MadLibs</a></h3>
        <hr>
      </div>
            <!--<div class="title">-->
                <!--<h1>POST request with Flask</h1>-->
            <!--</div>-->

            <div class="well">
            <div id="content"><center><h2>

                <form action="{{ url_for('form') }}">
                <script type="text/javascript">
                   function produceMessage(){
                        var bigString = '{{string}}';
                        var stringArray = bigString.split(" ");
                        var finalString = "";
                        var boldWord = "";
                        for (i = 0; i < stringArray.length; i++) {
                            if (stringArray[i].charAt(0) === "-"){
                                boldWord = stringArray[i].replace("-", "");
                                finalString += boldWord.bold() + " ";
                            }
                            else{
                                finalString += stringArray[i] + " ";
                            }
                        }
                        return finalString;
                    }
                    document.write(produceMessage())
                </script>
                <br>
                <br>
                <input type="submit" value="New Lib" />
                </center></h2>
            </div>
            </div>
            <footer class="footer">
        <p>&copy; 2016 Henry He, Frank Dong, Fondson Tran</p>
      </footer>
            <script src="/Users/FrankMAC/Desktop/MadLibs/ie10-viewport-bug-workaround.js"></script>
    </body>
</html>