<html>
    <head>
        <title>Handle POST requests with Flask</title>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div id="container">
            <div class="title">
                <h1>POST request with Flask</h1>
            </div>
            <div id="content">
                <form method="post" action="{{ url_for('hello') }}">
                  <label for="nouns">Please enter {{numNouns}} nouns separated by commas.</label>
                  <input type="text" name="nouns" /><br />
                  <label for="verbs">Please enter {{numVerbs}} verbs separated by commas.</label>
                  <input type="text" name="verbs" /><br />
                  <label for="adjs">Please enter {{numAdjectives}} adjectives separated by commas.</label>
                  <input type="text" name="adjs" /><br />
                  <input type="submit" />
                </form>
            </div>
    </body>
</html>
 