<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="MadLibs Generator!">
    <meta name="author" content="Henry He, Fondson Tran, Frank Dong">
    <link rel="icon" href="../../favicon.ico">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <title>MadLibs!</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div id="container">
            <div class="title">
                <h1>POST request with Flask</h1>
            </div>
            <div id="content">
                <form method="post" action="{{ url_for('helloo') }}">
                  <label for="nouns">Please enter a/an {{numnouns}}.</label>
                  <input type="text" name="nouns" /><br />
                  <label for="verbs">Please enter a/an {{numverbs}}.</label>
                  <input type="text" name="verbs" /><br />
                  <label for="adjs">Please enter a/an {{numadjectives}}</label>
                  <input type="text" name="adjs" /><br />
                  <input type="submit" />
                </form>
            </div>
            <footer class="footer">
        <p>&copy; 2016 Fondson is cool, Inc.</p>
      </footer>
      <script src="/Users/FrankMAC/Desktop/MadLibs/ie10-viewport-bug-workaround.js"></script>
    </body>
</html>